@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #b4b4b4;
}

.wrapper{
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background: #C0C0C0;
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(61, 61, 61, 0.2);
}

.game-details{
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
    border-style: inset solid;
    border-width: 10px;
    border-color: #80808080;
}

.board{
    height: 100%;
    width: 100%;
    display: grid;
    background: #C0C0C0;
    grid-template: repeat(100, 1fr) / repeat(100, 1fr);
    border-style: inset;
    border-width: 10px;
    border-color: #80808080;
}


@media screen and (max-width: 1000px){
    .wrapper{
        width: 90vmin;
        height: 90vmin;
    }

    .game-details{
        font-size: 1rem;
        padding: 15px 27px;
    }

    
}

